:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.my-title{
    text-align: center;
    font-size: 3.8rem;
}

.my-title span{
    font-size: 2.5rem;
    color: aquamarine;
}

@media (min-width: 780px){
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal {
    background-color: var(--secundario);
    /*Margin es por fuera y padding es por dentro*/
    display: flex; /* Flexbox es para alinear elementos*/
    justify-content: space-between;
    font-weight: bold; /* En negritas */
    font-size: 2rem;
    align-items: center;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none; /* Remueve el subrayado */
    padding: 1rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.hero{
    background-image: url("../imagen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    color: var(--blanco);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;   
}

.contenido-hero p,
.contenido-hero h2{
    color: (var(--blanco));
}

.ubicación{
    display: flex;
    align-items: flex-end;
}